#navigation{
  margin-top: 50px;
}
.navbar-header>.navbar-brand{
  padding: 0;
}
.navbar-header>.navbar-brand>img{
  width: 158px;
}
#navigation>.navbar .navbar-right>.btn{
  margin-top: 9px;
  letter-spacing: 0.4rem;
}
/*当 设备屏幕大小 < 480px(30em) 的时候加载一下样式*/
@media only screen and (max-width: 30em) {

}
/*当480px < 设备屏幕大小 < 767px 的时候加载一下样式*/
@media only screen and (min-width: 30em) and (max-width: 47.9375em){

}
@media only screen and (min-width: 48em) {

}

.carousel-caption{
  font-size: 1.7rem;
}
.chapterTitle{
  margin: 50px 0;
  text-align: center;
  line-height: 2.0;
  color: rgb(75, 75, 75);
}
.chapterEN{
  color: rgb(128, 128, 128);
}
#line{
  display: inline-block;
  height: 1px;
  width: 50px;
  background-color: #000;
  opacity: .5;
  vertical-align: middle;
  margin: 0 10px;
}
/* 产品介绍 */
#proList{
  width: 100%;
  height: 240px;
  padding: 20px;
  background: white;
  list-style: none;
  box-shadow: 2px 2px 2px #999;
  position: relative;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}
#proList a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}
#proList h2 {
  text-align: center;
  font-size: 24px;
}
#proList p {
  font-size: 14px;
  line-height: 18px;
  text-indent: 20px;
}
#proList a:hover {
  text-decoration: underline;
  color: #1e90ff;
}
.back {
  text-shadow: 0 0 10px black;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  box-shadow: 0 0 10px 4px white;
  opacity: 0.8;
  color: rgba(0, 0, 0, 0);
}
.back a {
  text-shadow: 0 0 10px #1e90ff;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  box-shadow: 0 0 10px 4px white;
  opacity: 0.8;
  color: rgba(255, 0, 0, 0);
}
.activeList {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0px 20px 10px -11px #888;
}
/* 比赛描述 */
.matchDesc .row{
  margin-bottom: 30px;
}
.descVideo h2 {
  line-height: 2.0;
}
.tag {
  font-size: 12px;
  padding-right: 10px;

}
.tag a {
  text-decoration: none;
  color: #000;

}
.descText {
  
  margin: 20px 0;
  text-indent: 30px;
  line-height: 1.6;
}
.lookMore{
  display: inline-block;
  padding: 7px 15px;
  background-color: lightslategray;
  transition: background-color .4s ease;
  cursor: pointer;
  border-radius: 5px;
}
.lookMore a {
  text-decoration: none;
  color: #fff;
}
.lookMore:hover{
  background-color: #1e90ff;
}
/* 页脚 */
.footer{
  background: url(../images/footerBackground.jpg);
  position: relative;
  color: #d3d3d3;
  padding: 0;
}
.footer .footBackground{
  background-color: rgba(0, 0, 0, 0.8);
}
.footer .footerLogo{
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyRight{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer .copyRight p{
  height: 40px;
  text-align: center;
  margin: 0;
  line-height: 40px;
}
.footer .code{
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .code li{
  display: inline-block;
  text-align: center;
}
.footer .code li img{
  width: 150px;
  margin-top: 20px;
}